/* Change grid settings */
/* Breakpoints */
/* Omega Reset */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Fonts */
/* Font-weights */
/* Colors */
/* Globals */
a {
  text-decoration: none; }

.row {
  display: block; }
  .row::after {
    clear: both;
    content: "";
    display: table; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
 */
.m-scene {
  /** Basic styles for an animated element */
  /** An element that fades in */
  /** An element that fades in and slides up */
  /** An element that fades in and slides up */
  /** An element that fades in and slides from the right */
  /** Reverse "exit" animations */ }
  .m-scene .scene_element {
    -webkit-animation-duration: 0.50s;
            animation-duration: 0.50s;
    transition-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; }
  .m-scene .scene_element--fadein {
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn; }
  .m-scene .scene_element--fadeinup {
    -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp; }
  .m-scene .scene_element--fadeindown {
    -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown; }
  .m-scene .scene_element--fadeinright {
    -webkit-animation-name: fadeInRight;
            animation-name: fadeInRight; }
  .m-scene.is-exiting .scene_element {
    -webkit-animation-direction: alternate-reverse;
            animation-direction: alternate-reverse; }

h1, h2, h3, h4, h5 {
  font-family: "aktiv-grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-style: normal; }

h1 {
  font-size: 3.4375em;
  font-weight: 500; }

h2 {
  font-size: 2.5em;
  line-height: 52px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px; }

h3 {
  font-size: 1.875em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 0.875em; }

p {
  font-family: "aktiv-grotesk", sans-serif; }

.header__logo {
  display: none; }

.header__contact {
  display: none; }

/* Tablet */
@media screen and (min-width: 48em) {
  .header__logo {
    color: blck;
    margin-bottom: 30px;
    font-weight: 700;
    float: left;
    position: absolute;
    margin: 20px;
    z-index: 10;
    display: inline-block; }
  .header__contact {
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 500;
    font-size: 0.875em;
    color: #68B0AB;
    text-decoration: underline;
    display: inline-block;
    margin: 20px;
    z-index: 10; } }

/* large desktop  */
@media screen and (min-width: 60em) {
  .header__logo {
    position: fixed; } }

footer {
  text-align: left;
  height: 200px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  padding: 20px 50px 20px 50px; }

.footer__container {
  width: 100%;
  margin: 0 auto;
  -ms-flex-item-align: center;
      align-self: center; }

.footer__content {
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto; }
  .footer__content::after {
    clear: both;
    content: "";
    display: table; }

.footer__social {
  list-style: none;
  padding: 0px; }
  .footer__social li {
    display: inline-block;
    margin-left: 10px; }
    .footer__social li a {
      color: #222222;
      font-size: 1.25em;
      transition: color 0.25s ease-in-out; }
      .footer__social li a:hover {
        color: #68B0AB; }

.footer__version {
  font-family: "Menlo", courier, serif;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.13em; }

.footer__social {
  margin-top: 0px; }
  .footer__social li:first-child {
    margin-left: 0px; }

.hero {
  width: 100%;
<<<<<<< HEAD
  text-align: left;
  height: 40vh;
=======
  height: 55vh;
  text-align: left;
>>>>>>> gh-pages
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  padding: 20px 50px 20px 50px; }
<<<<<<< HEAD
=======

.highlight {
  color: #68B0AB; }
>>>>>>> gh-pages

.hero__container {
  -ms-flex-item-align: center;
      align-self: center; }

.hero__summary {
  font-family: "aktiv-grotesk", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.3;
  color: #222222;
  margin-bottom: 20px; }

/* Mobile */
@media screen and (min-width: 25em) {
  .hero {
<<<<<<< HEAD
    height: 45vh; }
  .hero__summary {
    font-weight: 400;
    font-size: 1.875em;
    line-height: 40px; } }
=======
    text-align: center; }
  .hero__summary {
    font-size: 1.875em; } }
>>>>>>> gh-pages

/* Tablet */
@media screen and (min-width: 25em) {
  .hero__summary {
    font-weight: 500; } }

/* Desktop */
@media screen and (min-width: 60em) {
  .hero {
    height: 370px; }
  .hero__container {
    max-width: 1270px;
    margin-left: auto;
    margin-right: auto; }
    .hero__container::after {
      clear: both;
      content: "";
      display: table; }
  .hero__content {
    float: left;
    display: block;
    margin-right: 3.07329%;
<<<<<<< HEAD
    width: 74.23168%; }
=======
    width: 82.82112%;
    margin-left: 8.58944%; }
>>>>>>> gh-pages
    .hero__content:last-child {
      margin-right: 0; } }

.main {
  width: 100%;
  padding: 20px 50px 20px 50px; }

.main__container {
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto; }
  .main__container::after {
    clear: both;
    content: "";
    display: table; }

.project {
  display: block;
  height: 270px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 60px;
  border-radius: 2px;
  position: relative;
  text-align: center;
  background: white;
  transition: box-shadow 0.25s ease-in-out;
  padding-top: 40px;
  box-shadow: 0 5px 20px -5px rgba(150, 150, 150, 0.12), 0 3px 4px -2px rgba(0, 0, 0, 0.08); }
  .project a {
    display: inline-block; }
  .project img {
    max-width: 85%;
    top: 70px;
    position: relative;
    border-radius: 2px;
    transition: all 0.25s ease-in-out; }

.project:hover, #project:hover {
  box-shadow: 0 30px 75px -15px rgba(150, 150, 150, 0.3), 0 25px 40px -20px rgba(0, 0, 0, 0.1); }
  .project:hover .project__button, #project:hover .project__button {
    color: #68B0AB; }
  .project:hover img, #project:hover img {
    top: 35px; }

.project__summary {
  text-align: center; }

.project__button {
  font-family: "aktiv-grotesk", sans-serif;
  font-size: 0.875em;
  color: #222222;
  text-decoration: underline;
  transition: color 0.25s ease-in-out; }

.project__info {
  font-size: 0.8125em;
  font-family: "Menlo", courier, serif;
  margin: 2px 0px; }

.project__title {
  font-weight: 400;
  margin: 2px 0px; }
  .project__title span {
    font-weight: 100;
    font-size: 16px; }

/* Tablet */
@media screen and (min-width: 48em) {
  .main {
    padding-top: 0px; }
  .main__projects {
    float: left;
    display: block;
    margin-right: 3.07329%;
    width: 100%; }
    .main__projects:last-child {
      margin-right: 0; }
  .main__container {
    max-width: 1270px;
    margin-left: auto;
    margin-right: auto; }
    .main__container::after {
      clear: both;
      content: "";
      display: table; }
  .project {
    float: left;
    display: block;
    margin-right: 3.07329%;
    width: 48.46336%;
    margin-bottom: 50px; }
    .project:last-child {
      margin-right: 0; }
    .project:nth-child(2n) {
      margin-right: 0; }
    .project:nth-child(2n+1) {
      clear: left; } }

/* Desktop */
@media screen and (min-width: 60em) {
  .main__container {
    max-width: 1270px;
    margin-left: auto;
    margin-right: auto; }
    .main__container::after {
      clear: both;
      content: "";
      display: table; }
  .project {
    float: left;
    display: block;
    margin-right: 3.07329%;
    width: 31.28448%;
    margin-bottom: 100px; }
    .project:nth-child(2n) {
      margin-right: 3.07329%; }
    .project:nth-child(2n+1) {
      clear: none; }
    .project:last-child {
      margin-right: 0; }
    .project:nth-child(3n) {
      margin-right: 0; }
    .project:nth-child(3n+1) {
      clear: left; } }

@media screen and (min-width: 106.25em) {
  .main__container {
    max-width: 1270px;
    margin-left: auto;
    margin-right: auto; }
    .main__container::after {
      clear: both;
      content: "";
      display: table; }
  .project {
    height: 310px; }
    .project img {
      max-width: 100%; } }

nav {
  float: left;
  display: block;
  margin-right: 6.34146%;
  width: 64.55285%;
  color: black; }
  nav:last-child {
    margin-right: 0; }
  nav .nav--list li {
    display: inline-block;
    float: right;
    padding-left: 10px; }

body {
  background-color: #FDFDFD;
<<<<<<< HEAD
  color: black;
=======
>>>>>>> gh-pages
  margin: 0px; }

.works {
  margin-bottom: 30px;
  font-size: 0.9375em;
  width: 100%;
  margin: 0px auto 30px;
  font-family: "Menlo", courier, serif;
  text-align: left;
  color: #D0D0D0; }

.contact {
<<<<<<< HEAD
  font-size: 1.25em; }
  .contact a {
    color: #222222;
    text-decoration: underline; }

=======
  text-align: center;
  font-size: 1.25em; }
  .contact a {
    color: #68B0AB;
    text-decoration: underline; }

/* Tablet */
>>>>>>> gh-pages
@media screen and (min-width: 48em) {
  .works {
    float: left;
    display: block;
    margin-right: 3.07329%;
    width: 100%; }
    .works:last-child {
      margin-right: 0; } }
