@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

a {
  text-decoration: none; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
 */
.m-scene {
  /** Basic styles for an animated element */
  /** An element that fades in */
  /** An element that fades in and slides up */
  /** An element that fades in and slides up */
  /** An element that fades in and slides from the right */
  /** Reverse "exit" animations */ }
  .m-scene .scene_element {
    -webkit-animation-duration: 0.25s;
            animation-duration: 0.25s;
    transition-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; }
  .m-scene .scene_element--fadein {
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn; }
  .m-scene .scene_element--fadeinup {
    -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp; }
  .m-scene .scene_element--fadeindown {
    -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown; }
  .m-scene .scene_element--fadeinright {
    -webkit-animation-name: fadeInRight;
            animation-name: fadeInRight; }
  .m-scene.is-exiting .scene_element {
    -webkit-animation-direction: alternate-reverse;
            animation-direction: alternate-reverse; }

h1 {
  font-family: "Merriweather", serif;
  -webkit-font-smoothing: antialiased;
  font-style: normal; }

h2 {
  font-family: "Merriweather", serif;
  -webkit-font-smoothing: antialiased;
  font-style: normal; }

h4 {
  font-family: "Merriweather", serif;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-size: 1.25em; }

p {
  font-family: "adelle-sans", serif; }

header {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  font-family: "adelle-sans", serif;
  margin-top: 60px; }
  header::after {
    clear: both;
    content: "";
    display: table; }

.header__container {
  width: 80%;
  height: 70px;
  margin: 0 auto; }

.header__logo {
  float: left;
  display: block;
  margin-right: 10.91703%;
  width: 100%;
  color: black;
  margin-bottom: 30px;
  font-weight: 700; }
  .header__logo:last-child {
    margin-right: 0; }

.header__nav {
  display: none; }

/**** Tablet *****/
@media screen and (min-width: 48em) {
  header {
    height: 90px; }
  .header__container {
    float: left;
    display: block;
    margin-right: 5.17598%;
    width: 82.47067%;
    margin-left: 8.76467%;
    height: 25px; }
    .header__container:last-child {
      margin-right: 0; }
  .header__logo {
    float: left;
    display: block;
    margin-right: 6.27615%;
    width: 4.35146%; }
    .header__logo:last-child {
      margin-right: 0; }
  .header__nav {
    float: left;
    display: block;
    margin-right: 6.27615%;
    width: 89.37238%;
    text-align: right; }
    .header__nav:last-child {
      margin-right: 0; }
    .header__nav li {
      display: inline-block;
      margin-right: 10px; }
      .header__nav li a {
        color: black;
        font-family: "adelle-sans", serif; } }

/**** large desktop  *****/
@media screen and (min-width: 106.25em) {
  header {
    height: auto;
    margin-bottom: 100px; }
  .header__container {
    float: left;
    display: block;
    margin-right: 5.17598%;
    width: 100%;
    margin-left: 0%;
    height: 25px; }
    .header__container:last-child {
      margin-right: 0; }
  .header__logo {
    float: left;
    display: block;
    margin-right: 5.17598%;
    width: 3.58868%; }
    .header__logo:last-child {
      margin-right: 0; }
  .header__nav {
    float: left;
    display: block;
    margin-right: 5.17598%;
    width: 91.23533%;
    text-align: right; }
    .header__nav:last-child {
      margin-right: 0; }
    .header__nav li {
      display: inline-block; } }

footer {
  text-align: left;
  height: 15vh;
  background: #F2F2F2;
  border-left: 15px solid white;
  border-right: 15px solid white;
  border-bottom: 15px solid white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start; }

.footer__container {
  width: 80%;
  margin: 0 auto;
  -ms-flex-item-align: center;
      align-self: center; }

.footer__content {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto; }
  .footer__content::after {
    clear: both;
    content: "";
    display: table; }

.footer__social {
  list-style: none;
  padding: 0px; }
  .footer__social li {
    display: inline-block;
    margin-left: 10px; }
    .footer__social li a {
      color: black;
      font-size: 1.25em; }

.footer__copyright {
  text-align: left;
  font-family: "Monaco",serif;
  font-size: 0.8125em;
  letter-spacing: 0.13em; }
  .footer__copyright a {
    color: grey; }

.footer__version {
  text-align: left;
  font-family: "Monaco",serif;
  font-size: 0.6875em;
  text-transform: uppercase;
  letter-spacing: 0.13em; }

.footer__social {
  text-align: left; }
  .footer__social li:first-child {
    margin-left: 0px; }

@media screen and (min-width: 48em) {
  .footer__container {
    float: left;
    display: block;
    margin-right: 5.17598%;
    width: 82.47067%;
    margin-left: 8.76467%; }
    .footer__container:last-child {
      margin-right: 0; }
  .footer__version {
    float: left;
    display: block;
    margin-right: 6.27615%;
    width: 25.60669%; }
    .footer__version:last-child {
      margin-right: 0; }
  .footer__copyright {
    float: left;
    display: block;
    margin-right: 6.27615%;
    width: 36.23431%;
    text-align: center;
    font-family: "Monaco",serif;
    font-size: 0.8125em;
    letter-spacing: 0.13em; }
    .footer__copyright:last-child {
      margin-right: 0; }
  .footer__social {
    float: left;
    display: block;
    margin-right: 6.27615%;
    width: 25.60669%;
    text-align: right; }
    .footer__social:last-child {
      margin-right: 0; } }

@media screen and (min-width: 106.25em) {
  .footer__container {
    float: left;
    display: block;
    margin-right: 5.17598%;
    width: 100%;
    margin-left: 0%; }
    .footer__container:last-child {
      margin-right: 0; }
  .footer__version {
    float: left;
    display: block;
    margin-right: 5.17598%;
    width: 21.11801%;
    text-align: left; }
    .footer__version:last-child {
      margin-right: 0; }
  .footer__copyright {
    float: left;
    display: block;
    margin-right: 5.17598%;
    width: 47.41201%;
    text-align: center; }
    .footer__copyright:last-child {
      margin-right: 0; }
  .footer__social {
    float: left;
    display: block;
    margin-right: 5.17598%;
    width: 21.11801%;
    text-align: right; }
    .footer__social:last-child {
      margin-right: 0; } }

.hero {
  width: 100%;
  text-align: left;
<<<<<<< HEAD
  margin-bottom: 50px;
  margin-top: 65px; }
  .hero::after {
    clear: both;
    content: "";
    display: table; }
=======
  background: #061A40;
  border: 15px solid white;
  height: 60vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start; }
>>>>>>> master

.hero__container {
  width: 80%;
  margin: 0 auto;
  -ms-flex-item-align: center;
      align-self: center; }

.hero__email-link {
  text-decoration: underline; }

.hero__title {
  font-weight: 400;
  font-size: 1.625em;
  line-height: 10px;
  color: white; }

.hero__summary {
<<<<<<< HEAD
  color: #B3B3B3;
  font-weight: 400;
  font-size: 1.375em;
  line-height: 32px; }
=======
  color: white;
  font-weight: 100;
  font-family: "Monaco",serif;
  font-size: 16px;
  line-height: 26px; }
>>>>>>> master
  .hero__summary a {
    color: white;
    font-family: "Monaco",serif; }

@media screen and (min-width: 48em) {
  .hero {
    padding: 0px;
    margin-bottom: 100px;
    margin-top: 130px; } }

@media screen and (min-width: 60em) {
  .hero {
<<<<<<< HEAD
    height: 200px;
    padding: 0px;
    margin-bottom: 100px;
    margin-top: 130px; }
=======
    height: 35vh;
    padding: 0px; }
>>>>>>> master
  .hero__container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto; }
    .hero__container::after {
      clear: both;
      content: "";
      display: table; }
  .hero__content {
    float: left;
    display: block;
    margin-right: 5.17598%;
<<<<<<< HEAD
    width: 82.47067%;
    margin-left: 8.76467%; }
    .hero__container:last-child {
=======
    width: 64.94134%; }
    .hero__content:last-child {
>>>>>>> master
      margin-right: 0; }
  .hero__title {
    font-size: 2.1875em;
    line-height: 10px; }
  .hero__summary {
<<<<<<< HEAD
    font-weight: 400;
    font-size: 2.1875em;
    line-height: 50px; } }
=======
    font-weight: 100;
    font-size: 1.125em;
    line-height: 35px; } }
>>>>>>> master

.main {
  width: 100%;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: #F2F2F2;
  padding-top: 100px; }

.main__container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto; }
  .main__container::after {
    clear: both;
    content: "";
    display: table; }

.project {
  width: 80%;
  margin: 0 auto;
  height: auto;
  margin-bottom: 60px;
  border-radius: 2px;
  position: relative; }
  .project img {
    width: 100%;
    height: auto;
    border-radius: 2px;
    transition: opacity 0.25s ease-in-out; }
    .project img:hover {
      opacity: 0.7; }

.project__info {
  font-size: 0.8125em;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.09090909091em; }

.project__title {
  font-weight: 400; }
  .project__title span {
    font-weight: 100;
    font-size: 16px; }

@media screen and (min-width: 48em) {
  .main__projects {
    float: left;
    display: block;
    margin-right: 5.17598%;
    width: 82.47067%;
    margin-left: 8.76467%; }
    .main__projects:last-child {
      margin-right: 0; }
  .project {
    float: left;
    display: block;
    margin-right: 5.17598%;
    width: 47.41201%;
    margin-bottom: 50px; }
    .project:last-child {
      margin-right: 0; }
    .project:nth-child(2n) {
      margin-right: 0; }
    .project:nth-child(2n+1) {
      clear: left; } }

@media screen and (min-width: 106.25em) {
  .main__projects {
    float: left;
    display: block;
    margin-right: 5.17598%;
    width: 100%;
    margin-left: 0%; }
    .main__projects:last-child {
      margin-right: 0; }
  .project {
    margin-bottom: 100px; }
  .project__title {
    font-size: 1.5625em; } }

nav {
  float: left;
  display: block;
  margin-right: 10.91703%;
  width: 63.02766%;
  color: black; }
  nav:last-child {
    margin-right: 0; }
  nav .nav--list li {
    display: inline-block;
    float: right;
    padding-left: 10px; }

.button {
  background: #2E2C2C;
  text-transform: uppercase;
  color: white;
  padding: 15px 13px;
  font-size: 0.8125em;
  font-weight: bold;
  display: inline-block;
  margin: 20px 0px;
  letter-spacing: 0.07076923077em; }
  .button:after {
    content: "→";
    margin-left: 10px; }

body {
  background-color: white;
  color: black;
  margin: 0px; }

.works {
  margin-bottom: 30px;
  font-size: 1.25em;
  width: 80%;
  margin: 0px auto 30px;
  font-family: "Merriweather", serif; }

@media screen and (min-width: 48em) {
  #top, #bottom, #left, #right {
    background: white;
    position: fixed;
    z-index: 9999; }
  #left, #right {
    top: 0;
    bottom: 0;
    width: 30px; }
  #left {
    left: 0; }
  #right {
    right: 0; }
  #top, #bottom {
    left: 0;
    right: 0;
    height: 30px; }
  #top {
    top: 0; }
  #bottom {
    bottom: 0; } }

@media screen and (min-width: 106.25em) {
  .works {
    float: left;
    display: block;
    margin-right: 5.17598%;
    width: 100%; }
    .works:last-child {
      margin-right: 0; } }

.about__container {
  width: 85%;
  margin: 0 auto;
  position: relative; }

.about__image {
  display: none; }

/* Tablet Syling */
@media screen and (min-width: 48em) {
  .about__container {
    float: left;
    display: block;
    margin-right: 5.17598%;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    height: 85vh;
    -ms-flex-align: start;
        align-items: flex-start; }
    .about__container:last-child {
      margin-right: 0; }
    .about__container:after {
      position: absolute;
      top: -170px;
      background: #F3F3F3;
      width: 382px;
      height: 485px;
      content: '';
      left: 190px;
      z-index: -999; }
  .about__image {
    float: left;
    display: block;
    margin-right: 5.17598%;
    width: 12.35335%;
    margin-left: 8.76467%; }
    .about__image:last-child {
      margin-right: 0; }
  .main__content {
    float: left;
    display: block;
    margin-right: 5.17598%;
    width: 47.41201%;
    margin-left: 8.76467%;
    -ms-flex-item-align: center;
        align-self: center; }
    .main__content:last-child {
      margin-right: 0; }
    .main__content p {
      font-size: 1.25em;
      line-height: 30px; }
    .main__content .main__content__title {
      font-size: 38px; }
    .main__content .main__content__summary {
      font-weight: 100;
      font-size: 38px;
      line-height: 50px;
      color: #B3B3B3; } }

/* Desktop Styling */
