/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

menu, ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

img {
  width: 100%; }

a {
  color: white;
  text-decoration: underline; }

/* Fonts */
/* Font-weights */
/* Colors */
.bold {
  font-weight: 700; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-style: normal; }

h1 {
  font-size: em(55); }

h2 {
  font-size: em(40); }

h3 {
  font-size: em(30); }

h4 {
  font-size: em(24); }

h5 {
  font-size: em(14); }

p {
  font-family: "IBM Plex Sans", sans-serif; }

/* mobile */
body {
  background: #1f1f1f;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility; }

main {
  height: 100vh;
  display: grid;
  grid-template-rows: 100px auto 100px;
  align-items: center; }

.message {
  color: #ffffff;
  margin: 0px 0px 0px 28px;
  font-family: "IBM Plex Sans", sans-serif; }

.block--right {
  display: none; }

.container {
  max-width: 1236px;
  width: 68%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }

.intro {
  display: flex;
  flex-direction: column; }
  .intro .intro__title {
    font-size: 25px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    font-style: normal; }
  .intro p {
    margin-top: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff; }
  .intro .intro__social {
    display: flex;
    margin-top: 33px; }
    .intro .intro__social a {
      text-decoration: none;
      font-weight: 700;
      font-family: "IBM Plex Sans", sans-serif; }
    .intro .intro__social .intro__linkedin a {
      color: #0077b5; }
    .intro .intro__social .intro__github a {
      color: #6cc644; }
      .intro .intro__social .intro__github a::before, .intro .intro__social .intro__github a::after {
        content: '-';
        color: #ffffff;
        width: 100%;
        margin: 0px 5px; }
    .intro .intro__social .intro__email a {
      color: #ea4c89; }

footer p {
  margin: 0px 0px 0px 28px;
  color: #ffffff;
  font-size: 12px; }
  footer p a {
    text-decoration: none; }

/*---- Small Desktop Devices --- */
@media screen and (min-width: 800px) {
  main {
    grid-template-rows: 1fr auto 1fr; }
  .container {
    flex-direction: row;
    height: calc(100vh - 85px);
    justify-content: center;
    align-items: center; }
    .container .block--left {
      margin-top: 0px;
      max-width: 610px;
      width: 100%; } }

/*---- Large Desktop --- */
@media screen and (min-width: 1800px) {
  .container {
    justify-content: space-between; }
    .container .block--right {
      display: block; }
  .intro {
    height: max-content; }
    .intro .intro__title {
      font-size: 50px;
      line-height: 60px; }
    .intro p {
      font-size: 19px;
      line-height: 29px; } }
