/*---- Large Desktop --- */
@media screen and (min-width: 1800px) {
	.container {
		justify-content: space-between;

		.block--right {
			display: block;
		}
	}
	.intro {
		height: max-content;

		.intro__title {
			font-size: 50px;
			line-height: 60px;
		}

		p {
			font-size: 19px;
			line-height: 29px;
		}
	}
}
