/*---- Large Desktop --- */
@media screen and (min-width: 1500px) {
	.container {
		justify-content: space-between;

		.block--right {
			display: block;
			max-width: 500px;
		}
	}
	.intro {
		height: max-content;

		.intro__title {
			font-size: 44px;
			line-height: 45px;
		}

		p {
			font-size: 19px;
			line-height: 29px;
		}
	}
}
