// Variables - this is where all variables for this project are stored
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap');

/* Fonts */
$heading-ff: 'IBM Plex Sans', sans-serif;
$paragraph-ff: 'IBM Plex Sans', sans-serif;
$caption: 'IBM Plex Sans', sans-serif;

/* Font-weights */
$regular: 400;
$bold: 700;

/* Colors */
$main-color: #1f1f1f;
$font-color: #ffffff;
