.main{
	width: 100%;
}

.project{
	display: block;
	height: 270px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 60px;
	border-radius: 2px;
	position: relative;
	text-align: center;
	background: white;
	transition: box-shadow 0.25s ease-in-out;
	padding-top: 40px;
	box-shadow: 0 5px 20px -5px rgba(150,150,150,.12), 0 3px 4px -2px rgba(0,0,0,.08);

   
	a{display: inline-block;}

	img{
		max-width: 85%;
		top: 70px;
    	position: relative;
		border-radius: 2px;
		transition: all 0.25s ease-in-out;
	}
}

.project, #project{

	&:hover{
		    box-shadow: 0 30px 75px -15px rgba(150,150,150,.3), 0 25px 40px -20px rgba(0,0,0,.1);

		.project__button{color: $mint;}

		img{top: 35px;}
	}
}

.project__summary{
	text-align: center;
}

.project__button{
	font-family: $heading-ff;
	font-size: em(14);
	color: #222222;
	text-decoration: underline;
	transition: color 0.25s ease-in-out;
}

.project__info{
	font-size: em(13);
	font-family: $caption;
	margin: 2px 0px;
}

.project__title{
	font-weight: 400;
	
	margin: 2px 0px;

	span{
		font-weight: 100;
    	font-size: 16px;
	}
}