.main{
	width: 100%;

	background-color: #F2F2F2;
	padding-top: 100px;
}

.main__container{
	@include outer-container();
}

.project{
	width: 80%;
	margin: 0 auto;
	height: auto;
	margin-bottom: 60px;
	border-radius: 2px;
	position: relative;

	img{
		width: 100%;
		height: auto;
		border-radius: 2px;
		transition: opacity 0.25s ease-in-out;

		&:hover{
			opacity: 0.7;
		}
	}
}

.project__info{
	font-size: em(13);
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.09090909091em;
}

.project__title{
	font-weight: 400;

	span{
		font-weight: 100;
    	font-size: 16px;
	}
}

@include media ($tablet){
	.main__projects{
		@include span-columns(10);
		@include shift(1);
	}

	.project{
		@include span-columns(6 of 12);
		@include omega(2n);
		margin-bottom: 50px;
	}
}

@include media ($desktop){
	.main{
	border-left: 10px solid white;
	border-right: 10px solid white;
	border-bottom: 10px solid white;
	}
}
@include media ($large-desktop){

	.main__projects{
		@include span-columns(12);
		@include shift(0);
	}

	.project{
		margin-bottom: 100px;
	}

	.project__title{
		font-size: em(25);
	}
}