.button{
	background: #2E2C2C;
	text-transform: uppercase;
	color: white;
	padding: 15px 13px;
	font-size: em(13);
	font-weight: bold;
	display: inline-block;
	margin: 20px 0px;
	letter-spacing: 0.07076923077em;

	&:after{
		content: "→";
		margin-left: 10px;
	}
}