footer{
    text-align: left;
    height: 15vh;
    background: #F2F2F2;
    border-left: 15px solid white;
	border-right: 15px solid white;
	border-bottom: 15px solid white;
	display: flex;
    align-items: flex-start;
}

.footer__container{
    width: 80%;
	margin: 0 auto;
	align-self: center;
}

.footer__content{
	@include outer-container();
}

.footer__social{
	list-style: none;
	padding: 0px;

	li{
		display: inline-block;
   		margin-left: 10px;

   		a{
   			color: black;
   			font-size: em(20);
   		}
	}
}

.footer__copyright{
		text-align: left;
		font-family: "Monaco",serif;
		font-size: em(13);
		letter-spacing: 0.13em;
	a{
		color: grey;
	}
}

.footer__version{
		text-align: left;
		font-family: "Monaco",serif;
		font-size: em(11);
		text-transform: uppercase;
		letter-spacing: 0.13em;
}

	.footer__social{
	
	text-align: left;
		
		li:first-child{
			margin-left: 0px;
		}

	}

@include media ($tablet){

	.footer__container{
		@include span-columns(10);
		@include shift(1);
	}

	.footer__version{
		@include span-columns(3 of 10);

	}

	.footer__copyright{
		@include span-columns(4 of 10);
		text-align: center;
		font-family: "Monaco",serif;
		font-size: em(13);
		letter-spacing: 0.13em;
	}

	.footer__social{
		@include span-columns(3 of 10);
		text-align: right;	
	}

}

@include media ($large-desktop){

	.footer__container{
		@include span-columns(12);
		@include shift(0);
	}

	.footer__version{
		@include span-columns(3 of 12);
		text-align: left;
	}

	.footer__copyright{
		@include span-columns(6 of 12);
		text-align: center;
		
	}

	.footer__social{
		@include span-columns(3 of 12);
		text-align: right;
	}

}