footer{
    text-align: left;
    height: 200px;
	display: flex;
    align-items: flex-start;
    @include pad(20px 50px 20px 50px);
}

.footer__container{
    width: 100%;
	margin: 0 auto;
	align-self: center;
}

.footer__content{
	@include outer-container();
}

.footer__social{
	list-style: none;
	padding: 0px;

	li{
		display: inline-block;
   		margin-left: 10px;

   		a{
   			color: #222222;
   			font-size: em(20);
   			transition: color 0.25s ease-in-out;

   				&:hover{
		color: #3BBD71;
	}
   		}
	}
}

.footer__version{
	font-family: $heading3;
	font-size: em(12);
	text-transform: uppercase;
	letter-spacing: 0.13em;
}

.footer__social{
	margin-top: 0px;
	
	li:first-child{
		margin-left: 0px;
	}
}
