footer{
	color: white;
	background-color: #16001E;
	height: 250px;
	text-align: center;
	font-family: $caption;
}

.footer__content{
	@include grid-column(6);
}

.footer__copyright{
	@include grid-column(6);
	font-family: $caption;
	font-size: em(12);
}

.footer__contact{
	@include grid-column(6);
	color: white;
	font-size: em(12);
}

.footer__social{
	@include grid-column(6);
	list-style: none;
	padding: 0px;
	font-size: em(18);

	li{display: inline-block;}
	a{color: white;}
}


@include grid-media($mq-m) { 

	.footer__copyright, .footer__contact, .footer__social{
		@include grid-column(2);
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.footer__copyright{
		text-align: left;
	}

	.footer__social{
		text-align: right;
	}

	.footer__contact{
		text-align: center;
	}
}

@include grid-media($mq-l) { 

	footer{
		height: 400px;
	}

	.footer__content{
		@include grid-column(12);
	}

	.footer__copyright, .footer__contact, .footer__social{
		@include grid-column(2);
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.footer__contact, .footer__social{
		@include grid-push(3);
	}


}