footer{
	height: 200px;
    text-align: center;
    color: #909292;
}

.footer__container{
	display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: 200px;
    width: 80%;
	margin: 0 auto;
}

.footer__content{
	align-self: center;
}

.footer__social{
	list-style: none;
	padding: 0px;

	li{
		display: inline-block;
   		margin-left: 10px;

   		a{
   			color: black;
   			font-size: 23px;
   		}
	}
}

.footer__copyright{
	font-size: em(18);
	font-weight: 500;
	color: #0A1128;

	a{
		color: grey;
	}
}

@include media ($tablet){

	.footer__container{
		@include span-columns(10);
		@include shift(1);
    	
	}

	.footer__version{
		@include span-columns(3 of 10);
		text-align: left;
		
	}

	.footer__copyright{
		@include span-columns(4 of 10);
		text-align: center;
		
	}

	.footer__social{
		@include span-columns(3 of 10);
		text-align: right;
		
	}
}

@include media ($large-desktop){

	.footer__container{
		@include span-columns(12);
		@include shift(0);
    	
	}

	.footer__version{
		@include span-columns(3 of 12);
		text-align: left;
		
	}

	.footer__copyright{
		@include span-columns(6 of 12);
		text-align: center;
		
	}

	.footer__social{
		@include span-columns(3 of 12);
		text-align: right;
		
	}
}