header{
   	font-family: $heading2;
   	display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: 200px;
    margin-top: 30px;
    @include outer-container();
}

.header__container{
	width: 85%;
	height: 70px;
	margin: 0 auto;
	align-self: center;
}

.header__logo{
	@include span-columns(6);
	color: black;
	margin-bottom: 30px;
	font-weight: $bold;
}

.header__nav{
	padding: 0px;
	margin: 0px;
	@include span-columns(6);

	li{
		display: inline-block;
		margin-right: 10px;

		a{
			color: black;
			font-family: $heading2;
		}
	}
}

@include media ($large-desktop){

	header{
		//background: red;
		//border: 1px solid black;
		height: 90px;
		margin-bottom: 100px;
	}

	.header__container{
		@include span-columns(12);
		height: 25px;

		//border: 1px solid black;
	}

	.header__logo{
		@include span-columns(1);
	}

	.header__nav{
		@include span-columns(11);
		text-align: right;

		li{
			display: inline-block;
		}
	}

}

