header.global{
	@include grid-container;
	height: 100px;
}

.logo{
	@include grid-column(3 of 6);
	text-align: left;
	font-family: $heading-ff;
	font-weight: bold;
	font-size: em(18);
	color: $rich-black;

	&:after{
		content: "Design + Code";
		display: block;
		font-family: $caption;
		font-size: em(10);
		letter-spacing: 0.125em;
		font-weight: 400;
		color: #68B0AB;
		margin-top: 5px;
	}
}

.contact{
	font-family: $heading-ff;
	font-weight: bold;
	font-size: em(14);
	text-align: right;
	color: $rich-black;
	display: none;
}

/*Tablet*/


@include grid-media($mq-s){

	.logo{@include grid-column(3 of 6);}

	.contact{
		display: block;
		@include grid-column(2 of 6);
		@include grid-push(1);
	}
}

@include grid-media($mq-m){

	header.global{
		height: 225px;
	}

	.logo{@include grid-column(2 of 6);}

	.contact{
		@include grid-column(1 of 6);
		@include grid-push(3);
	}
}

@include grid-media($mq-xl){

	.logo{
		@include grid-column(2 of 12);
	}

	.contact{
		@include grid-column(1 of 12);
		@include grid-push(9);
	}
}