header.global{
	@include grid-container;
	height: 70px;
	border: 1px solid black;
}

.logo{
	@include grid-column(3);
	border: 1px solid black;
	text-align: left;
}

.contact{
	@include grid-column(3);
	border: 1px solid black;
	text-align: right;
}

.middle{
	display: flex;
    align-items: center;
}