.hero{
	width: 100%;
	text-align: left;
    background: #061A40;
    height: 60vh;
    display: flex;
    align-items: flex-start;
}

.hero__container{
	width: 80%;
	margin: 0 auto;
    align-self: center;
}

.hero__email-link{
	text-decoration: underline;
}

.hero__title{
	font-weight: $regular;
	font-size: em(26);
	line-height: 10px;
	color: white;
}

.hero__summary{
	color: white;
	font-weight: $thin;
	font-family: $heading3;
	font-size: 16px;
	line-height: 26px;

	a{
		color: white;
		font-family: $heading3;
	}
}

@include media ($desktop){

	.hero{
		height: 40vh;
		border: 10px solid white;
		padding: 0px;
	}

	.hero__container{
		@include outer-container;
	}

	.hero__content{
		@include span-columns(8 of 12);
	}

	.hero__title{
		font-size: em(35);
		line-height: 10px;
	}

	.hero__summary{
		font-weight: $thin;
		font-size: em(18);
		line-height: 35px;
	}

}

@include media ($large-desktop){

		.hero{
			border: 10px solid white;
			padding: 0px;
	}
}

