.hero{
	width: 100%;
<<<<<<< HEAD
	text-align: left;
    height: 40vh;
=======
	height: 55vh;
	text-align: left;
>>>>>>> gh-pages
    display: flex;
    align-items: flex-start;
    @include pad(20px 50px 20px 50px);
}

<<<<<<< HEAD
.hero__container{
    align-self: center;
=======
.highlight{
	color: $mint;
>>>>>>> gh-pages
}


.hero__container{
    align-self: center;
}

.hero__summary{
	font-family: $heading-ff;
	font-weight: $bold;
	font-size: $heading4-fs;
	line-height: 1.3;
	color: #222222;
	margin-bottom: 20px;
}

/* Mobile */

@include media($mobile){
	.hero{
	    text-align: center;
	}
<<<<<<< HEAD
}

@include media($tablet){
	.hero{
	    height: 45vh;
=======

	.hero__summary{
		font-size: $heading3-fs;
	}
}


/* Tablet */

@include media($mobile){

	.hero__summary{
		font-weight: $medium;
>>>>>>> gh-pages
	}


	.hero__summary{
		font-weight: $regular;
		font-size: em(30);
		line-height: 40px;
	}
}


/* Desktop */

@include media ($desktop){

	.hero{
	    height: 370px;
<<<<<<< HEAD
	    //margin-bottom: 50px;
=======

>>>>>>> gh-pages
	}

	.hero__container{
		@include outer-container;
	}

	.hero__content{
<<<<<<< HEAD
		@include span-columns(9 of 12);
	}


=======
		@include span-columns(10 of 12);
		@include shift(1);
	}
>>>>>>> gh-pages
}

