.hero{
	@include outer-container();
	text-align: left;
    margin-bottom: 50px;
}

.hero__container{
	width: 85%;
	height: 100%;
	margin: 0 auto;
}

.hero__title{
	font-weight: $regular;
	font-size: em(26);
	line-height: 10px;
}

.hero__summary{
	color: $ash-grey;
	font-weight: $thin;
	font-size: em(22);
	line-height: 32px;

	a{
		color: black;
	}
}

@include media ($desktop){
	.hero__container{
		@include span-columns(8 of 12);
		@include shift(1);
	}

		.hero{
		height: 200px;
		padding: 0px;
		margin-bottom: 100px;
	}


	.hero__title{
		font-size: em(35);
		line-height: 10px;
	}

	.hero__summary{
		font-weight: $thin;
		font-size: em(35);
		line-height: 50px;
	}

}

@include media ($large-desktop){
	.hero__container{
		//@include span-columns(8 of 12);
		@include shift(0);
	}
}

