---
title: Samuel Sosina
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>

  {% include hero.html %}

  {% include projects.html %}

  {% include footer.html %}
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://use.fontawesome.com/7ac0553162.js"></script>
  <script src="{{ site.baseurl }}/js/app.js"></script>


  </body>

</html>
 