<!-- Footer starts here -->
<footer>
  <div class="container middle">
  	<div class="footer__content">
   
        <p class="footer__copyright">Copyright &copy 2017</p>

        <a class="footer__contact" href="mailto:samsosina@gmail.com" >Contact me</a>

        <ul class="footer__social">
        {% for social-link in site.data.settings.social-links %}
          <li><a href="{{ social-link.link }}" target="_blank"><i class="{{ social-link.name }}" aria-hidden="true"></i></a></li>
         {% endfor %}
        </ul>
        </div>
    
  </div>
</footer>
 <!-- Footer ends here -->