      <!-- Footer starts here -->
      <footer>
        <div class="footer__container">
          <div class="footer__content">
            <p class="footer__version">Version 1.1.1</p>

            <p class="footer__copyright">Available for projects – <a href="ssosina@me.com">hello@sosina.me</a></p>

            <ul class="footer__social">
            {% for social-link in site.data.settings.social-links %}
              <li><a href="{{ social-link.link }}" target="_blank"><i class="{{ social-link.name }}" aria-hidden="true"></i></a></li>
             {% endfor %}
            </ul>
          </div>
        </div>
      </footer>
       <!-- Footer ends here -->