<div class="hero">
	<div class="hero__container">

	  

	<div class="hero__content">
	    <h1 class="hero__title">Samuel Sosina</h1>
	    <h1 class="hero__summary"><span id="greeting">Hey</span>, I'm digital designer & developer based in London. I create unique digital experiences for mobile and web. I travel, <a target="_blank" href="https://www.youtube.com/watch?v=1eO5U_uN7DQ">watch cartoons</a> / <a target="_blank" href="https://www.youtube.com/watch?v=K-GwVEmoT3Y">anime</a> and life draw. For projects, questions or just a hello, <a class="hero__email-link" href="mailto:samsosina@gmail.com">email me →</a>
	    </h1>
	</div>
	</div>
</div>