<div class="scene_element scene_element--fadeinup">
  <div class="main">

    <div class="main__container">

    <div class="works">Selected works</div>

      <div class="main__projects">

      {% for project in site.data.settings.projects %}

      <div class="project" id="project">
        
        <div class="project__summary">
          <p class="project__info">{{ project.year }}</p>
          <h2 class="project__title">{{ project.name }}</h2>
          <a class="project__button link" href="{{ project.url }}" target="_blank">{{ project.link-text }}→</a>
        </div>

        <img class="project__thumb" src="{{ site.baseurl }}img/{{ project.thumbnail }}" srcset="{{ site.baseurl }}img/{{ project.2x-url }}">
       
      </div>

      {% endfor %}

      </div>

        <p class="contact">Learn more about me <a href="https://www.linkedin.com/in/samsosina/" target="_blank">here</a>. For projects, questions or just a hello, <a href="mailto:samsosina@gmail.com">email me →</a></p>

    </div>
  </div>
</div>
