body{
	background-color: #FDFDFD;
	margin: 0px;
}

.works{
	margin-bottom: 30px;
	font-size: em(15);
	width: 100%;
	margin: 0px auto 30px;
	font-family: $heading3;
	text-align: center;
	color: #D0D0D0;
}