$heading1-fs: em(55);
$heading2-fs: em(40);
$heading3-fs: em(30);
$heading4-fs: em(24);
$heading5-fs: em(14);

$caption-fs: em(14);
$body-fs: em(17);

h1,h2,h3,h4,h5{
	font-family: $heading-ff;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
}

h1{
	font-size: $heading1-fs;
}

h2{
	font-size: $heading2-fs;
}

h3{
	font-size: $heading3-fs;
}

h4{
	font-size: $heading4-fs;
}

h5{
	font-size: $heading5-fs;
}

p{
	font-family: $paragraph-ff;
}


