h1{
	font-family: $heading1;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
}

h2{
	font-family: $heading1;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
}

h4{
	font-family: $heading1;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-size: em(20);
}

p{
	font-family: $heading2;
}