// Variables - this is where all variables for this proeject are stored 

//fonts 
$heading1: 	"Merriweather",serif;
$heading2: 	"adelle-sans",serif;
$heading3:  "Menlo",courier, serif;
$caption:   "Menlo",courier, serif;


//font-weights
$thin:     100;
$light:	   300;
$regular:  400;
$medium:   500;
$bold:     700;

//colors
$primary-color:   #34495E;
$secondary-color: #58E2C2;
$meta-color:      #ACACAC; 
$ash-grey: 		  #B3B3B3;

a{
	text-decoration: none;
}

.row{
	@include row();
}