// Variables - this is where all variables for this proeject are stored 

/* Fonts */ 

$heading-ff    :  "aktiv-grotesk",sans-serif;
$paragraph-ff  :  "aktiv-grotesk",sans-serif;
$heading3	   :  "Menlo",courier, serif;
$caption       :  "Menlo",courier, serif;

/* Font-weights */

$thin:     100;
$light:	   300;
$regular:  400;
$medium:   500;
$bold:     700;

/* Colors */

$rich-black:      #222222;
$mint:  		  #68B0AB;

/* Globals */

a{text-decoration: none;}

.middle{
	display: flex;
    align-items: center;
}